.container-main {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    padding: 40px 20px 0 20px;
}

.card {
    width: 200px;
    max-width: 200px;
}

.container-card {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.title-theme {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.6rem;
}

.container-cards {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.primary-color {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6c757d;
    min-height: 100px;
}

.card-title-changed {
    font-size: 14px;
    line-height: normal;
    margin: 0;
}

.box {
    width: 200px;
    max-width: 200px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.box:hover {
    transform: scale(1.1);
    z-index: 1;
}

.card-body {
    font-size: 15px;
    margin: 0;
    padding: 10px 5px;
}

.container-input {
    display: flex;
    flex-direction: column;
    width: 450px;
    max-width: 450px;
}

.options-card {
    width: 100%;

    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 0 10px;
}

@media (max-width: 659px) {
    .container-cards {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .title-theme{
        flex-direction: column;
    }
}

@media (min-width: 992px) {
   .nav-hide-and-show{
    display: none;
   }
}
@media (max-width: 992px) {
    .nav-hide-and-show-icon{
     display: none;
    }
 }